.imagesection{
    display: flex;
    margin-top: 4rem;
    .img{
       width: 100%;
       height: 50vh;
        img{
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }
    .about-info{
        margin-left: 2rem;
        h4{
            font-size: 2rem;
        }
        .about-text{
            padding: 1rem 0;
        }
        .btn{
            padding: .8rem 2rem;
            outline: none;
            border: none;
            font-family: inherit;
            color: white;
            background-color:#673ab7 ;
            cursor: pointer;
            margin-top: .5rem;
        }
    }
    .about-details{
        .name-details{
           
            p{
                padding: .35rem 0;
            }
        }
    }

}